__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.xlsx
venv/
.env
.env.*
.vscode/
.idea/
energy_mix_today_20251128203232.xlsx
Files_Netunei_hashmal_mp_niyud (3).csv
Files_Netunei_hashmal_mp_tzarchan (4).csv